/*Browser Reset*/

* {
  padding: 0px;
  margin: 0px;
}

/*Header*/
header {
  height: 100px;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: auto;
  background-color: linen;
}

a {
  color: red;
  text-transform: uppercase;
  padding: 8px;
  font-family: arial black;
  text-decoration: none;
}

h1 {
  font-family: Bernard MT condensed, Arial, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 6em;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  padding: 20vh;
}

.logo {
  grid-column: 1;
  overflow: visible;
  position:relative;
  z-index: 1;
  padding:10px;
  padding-top: 12.5px;
}

.logo-responsive {
  width: 100%;
  min-width: 90px;
  position:relative;
}

#nav-bar{
  grid-column: 2;
}

.phone {
  display:flex;
  grid-column: 3;
  height: 100px;
  align-items: center;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: center;
  justify-content: space-around;
}

/* Nav Bar*/

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-align: center;
  height: 100px;
}


@media screen and (max-width: 500px) {

  #nav-bar{
    flex-wrap: wrap;
  }

  #nav-bar > li {
    flex-basis:50%;
  }

}

/*Home page*/

#home {
  text-align: center;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome {
  background-image: url('../img/pizza_pasta_header.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Stencil Std, fantasy;
}

.about-header {
  background-image: url('../img/inside.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.pizza-of-month {
  background-image: url('../img/daily_feature.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 800px) {

  #home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 300px 300px auto 300px auto;
  }

  .welcome {
    grid-column: 1 / span 2;
  }

  .welcome-background {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .about-text {
    grid-row: 2;
  }

  .about-header {
    grid-column: 2;
  }

  .pizza-of-month {
    grid-row: 3;
  }

  .build-pasta {
    grid-column: 2;
    grid-row: 3;
  }

  .come-visit {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .contact-home {
    grid-column: 1;
    grid-row: 5;
  }

  .hours-home {
    grid-column: 2;
    grid-row: 5;
  }

  .map {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

}

/*Side-bar*/

#menu-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: yellow;
  text-align: center;
}
@media screen and (max-width: 500px) {

  #menu-sections {
    flex-wrap: wrap;
  }

  #menu-sections > li {
    flex-basis:100%;
  }
}

/*Menu page*/

#menu {
  text-align: center;
  background-color: linen;
}
.menu-title {
  background-image: url('../img/pizza_pasta.jpg');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Stencil Std, fantasy;

}

@media screen and (min-width: 800px) {

  #menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  }

  .menu-title {
    grid-column: 1 / span 2;
  }
  .menu-sections{
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .starters {
  grid-row: 3;
  }

  .pasta {
  grid-row: 4;
  }
  .pizza {
  grid-row: 3 / span 2;
  grid-column: 2/ span 2;
  }

  .desserts {
  grid-column: 1 / span 2;
  }
}

/*Contact page*/

#contact {
  text-align: center;
  background-color: linen;
}

.contact-info, .hours-info {
  padding: 30px;
  background-color: black;
  color: white;
}

.contact-header {
  background-image: url('../img/pizza_pasta_header.jpg');
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}
.map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 800px) {

  #contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  }

  .contact-header {
    grid-column: 1 / span 2;
  }

  .contact-info {
  grid-row: 2;
  }

  .hoursinfo {
  grid-column: 2;
  }
  .map {
  grid-column: 1 / span 2;
  }
}

/*About Page*/

#about {
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.our-story {
  background-color: rgba(255, 0, 0, .8);
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  grid-column: 1 / span 2;
  grid-row: 1;
  line-height: 25px;
}

.pizza-video {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.about-title, .best-pizza {
  line-height: 100px;
}

.pizza-background {
  background-image: url('../img/pizza_pasta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  z-index:-1;
}
.pizza-video{
  left: 0;
  top: 0;
  max-width: 100%;
}


/*Footer*/

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: grey;
  text-align: center;
}

#footer {
  text-align: center;
  align-content: space-around;
  background-color: grey;
  padding: 1em;
}
