/*Browser Reset*/

* {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/*Header*/
header {
  height: 15vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  font-size: 20px;
}

a {
  color: #CF0101;
  text-transform: uppercase;
  padding: 8px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

h1 {
  font-family: Bernard MT condensed, Arial, serif;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A51818;
  padding: 20vw;
}

h4 {
  color: #CF0101;
  font-size: 20px;
  line-height: 3vh;
  padding: 5px;
}
h6 {
  font-style: italic;
}

.logo {
  grid-column: 1;
  overflow: visible;
  position:relative;
  z-index: 1;
  padding:10px;
  padding-top: 15px;
}

.logo-responsive {
  width: 100%;
  min-width: 100px;
  position:relative;
}

#nav-bar{
  grid-column: 2;
}

.phone {
  display:flex;
  grid-column: 3;
  height: 15vh;
  padding-right: 2px;
  align-items: center;
  word-wrap: break-word;
  vertical-align: middle;
  justify-content: space-around;
}

/* Nav Bar*/

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 15vh;
}

@media screen and (min-width: 400px) {
  a[href*="tel:"] {
       pointer-events: none;
   }
}

@media screen and (max-width: 600px) {

  #nav-bar{
    flex-wrap: wrap;
  }

  #nav-bar > li {
    flex-basis:50%;
  }

  header {
  font-size: 90%;
  }

}

@media screen and (max-width: 380px) {

  #nav-bar{
    flex-wrap: wrap;
  }

  #nav-bar > li {
    flex-basis:100%;
  }

  header {
  font-size: 80%;
  }
}

/*Home page*/

#home {
  grid-gap: 12px;
}

  h2, h3, h3>a {
  font-family: Bernard MT condensed, Arial, serif;
  font-size: 40px;
  text-transform: uppercase;
}

.welcome-title {
  margin-top: 15vh;
  background-image: url('../img/pizza_pasta_header.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header {
  background-image: url('../img/checkered.png');
  background-repeat: repeat;
  background-size: 20px;
  max-width: 100%;
  padding: 6vw;
  }

.about-text {
  background-color: #CF0101;
  color: white;
  font-family: arial;
  padding: 6vw;
  line-height: 5vw;
  font-style: italic;
}

.pizza-of-month {
  background-image: url('../img/daily_feature.jpg');
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6vw;
  line-height: 9vh;
  color: white;
}

.build-pasta {
  background-image: url('../img/spaghetti.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 6vw;
  line-height: 9vh;
  color: white;
}

.contact-home, .hours-home, .come-visit {
  background-color: black;
  padding-top: 1vw;
}

.contact-home, .hours-home, .come-visit p {
  color: white;
  padding: 2vw;
}

.hours-home p {
  line-height: 2.2vh;
}

.map-2 {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}
.map-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 830px) {

  #home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 12.5% 12.5% auto auto;
  }

  .welcome-title {
    grid-column: 1 / span 2;
  }

  .about-text {
    grid-row: 2;
    padding: 4vw;
    line-height: 3vw;
  }

  .about-header {
    grid-column: 2;
    padding-top: 12vh;
  }

  .pizza-of-month {
    grid-row: 3;
    font-size: 130%;
  }

  .build-pasta {
    grid-column: 2;
    grid-row: 3;
    font-size: 115%;
  }

  .come-visit {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
  }

  .map-2 {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .come-visit {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    }

    .visit-us {
      grid-column: 1 / span 2;
      grid-row: 4;
    }

    .contact-home {
      grid-column: 1;
      grid-row: 4;
    }

    .hours-home {
      grid-column: 2;
      grid-row: 4;
    }

  h2, h3, h3>a {
    font-size: 180%;
  }

  h1 {
    font-size: 7vw;
    padding: 17vw;
  }

  .our-story{
    margin: 60px;
  }
}

/*Side-bar*/

#menu-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: black;
  padding: 2vh;
  line-height: 3vh;
}
@media screen and (max-width: 500px) {

  #menu-sections {
    flex-wrap: wrap;
  }

  #menu-sections > li {
    flex-basis:100%;
  }
}

/*Menu page*/

#menu {
  background-image: url('../img/checkered.png');
  background-repeat: repeat;
  background-size: 20px;
  max-width: 100%;
  margin-top: 15vh;

}

.menu-title {
  background-image: url('../img/pizza_pasta_header.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

section {
  padding: 3vh;
}

.price {
  color: #CF0101;
  font-weight: bold;
}

#menu h3 {
  color: #A51818;
  line-height: 6vh;
}

#menu h4 {
  color: black;
  line-height: 4vh;
}

.starters, .pasta, .pizza {
  border-bottom: 4px dashed #CF0101;
}

@media screen and (min-width: 830px) {

  #menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  }

  .menu-title {
    grid-column: 1 / span 2;
    height: 70vh;
  }
  .menu-sections{
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .starters {
  grid-row: 3;
  }

  .pasta {
  grid-row: 4;
  }
  .pizza {
  grid-row: 3 / span 2;
  grid-column: 2/ span 2;
  }

  .desserts {
  grid-column: 1 / span 2;
  }
}

/*Contact page*/

.contact-info, .hours-info {
  padding: 3vh;
  line-height: 3vh;
  background-color: black;
  color: white;
}

.contact-title {
  background-image: url('../img/pizza_pasta_header.jpg');
  margin-top: 15vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}
.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 800px) {

  #contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  grid-gap: 12px;
  }

  .contact-title {
    grid-column: 1 / span 2;
    height: 70vh;
  }

  .contact-info {
  grid-row: 2;
  }

  .hours-info {
  grid-column: 2;
  }

  .pizzeria{
  background-image: url('../img/inside2.jpg');
  background-position: bottom;
  background-size: cover;
  max-width: 100%;
  grid-row: 3;
  grid-column: 1 / span 2;
  height: 60vh;
  }

  .map {
  grid-column: 1 / span 2;
  }
}

/*About Page*/

#about {
  margin-top: 15vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.our-story {
  background-color: rgba(0, 0, 0, .6);
  padding-bottom: 3vw;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.our-story h1 {
  padding: 3.5vw;
}

.our-story p {
  padding: 0 10vw 2vh;
  line-height: 25px;
}

.pizza-background {
  background-image: url('../img/pizza_pasta.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index:-1;
  width: 100%;
}

.best-pizza {
  background-image: url('../img/checkered.png');
  background-repeat: repeat;
  background-size: 20px;
  max-width: 100%;
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 5vh;
  color: #A51818;
}

.pizza-border {
    border: dashed #A51818;
    border-width: 0 5px;
    padding: 0 5vh;
    margin: 0 5vh;
}

.pizza-video {
  max-width: 100%;
  padding-top: 5vh;
}

/*Footer*/

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#footer img {
  max-width: 100%;
  min-width: 25px;
}

#footer {
  align-content: space-around;
  background-color: #A51818;
  padding: 1em;
}
